<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.csvcms.theswitch"
        version   = "1.0.0">
    <name>TheSwitch</name>

    <description>
        Telldus kontroller.
    </description>

    <author href="http://cavcms.se" email="support@cavcms.se">
        Cavagent CMS
    </author>

    <gap:plugin name="com.phonegap.plugins.barcodescanner" />
    

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>

    <access origin="*" />

    <preference name="phonegap-version" value="2.9.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="webviewbounce"    value="true" />

    
</widget>
